<template>
  <v-layout>
   
    <app-bar-vue v-on:drawershow="drawer = $event"></app-bar-vue>

    <v-main>
      <v-img height="80" cover src="img/img002.png"></v-img>

      <v-container>
        <v-card flat rounded="0">
          <v-card-title
            class="text-md-h3 text-uppercase text-center font-weight-light pt-4 mb-8"
          >
            SOBRE NÓS
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <v-img src="/img/img009.jpg"></v-img>
              </v-col>
              <v-col cols="12" md="8" class="text-h6">
                A Líder é a melhor distribuidora atacadista de materiais de
                construção a seco do país, fazemos parte de um grupo com mais de
                35 anos de história na construção civil, referência pelo ótimo
                atendimento e soluções inovadoras.
                <br /><br />Com as nossas Lojas em Porto Alegre, Joinville, Ponta Grossa,
                Curitiba, Cascavel, Itajaí, Campo Grande e uma equipe altamente qualificada,
                estamos preparados para atender os projetos mais desafiadores
                com excelência.
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-divider class="my-8"></v-divider>
        <v-card flat rounded="0">
          <v-card-title
            class="text-md-h3 text-uppercase text-center font-weight-light pt-4 mb-8"
          >
            CONHEÇA NOSSAS LOJAS
          </v-card-title>
          <v-card-text>
            <v-row no-gutters>
              <v-col
                cols="12"
                md="4"
                v-for="(item, i) in $page.props.stores"
                :key="i"
              >
                <v-card :loading="loading" class="mx-5 my-4" elevation="3">
                  <v-img
                    cover
                    height="200"
                    :src="
                      item.image == null
                        ? '/img/sem_produto.jpg'
                        : '/img/stores/' + item.image
                    "
                  ></v-img>

                  <v-card-item>
                    <v-card-title>{{ item.title }}</v-card-title>
                    <v-card-subtitle>
                      <span class="me-1">{{ item.alias }}</span>
                    </v-card-subtitle>
                  </v-card-item>

                  <v-card-text class="">
                    {{ item.address }}
                  </v-card-text>
                  <v-divider></v-divider>

                  <v-card-title class="text-overline text-center"
                    >Horário de Atendimento</v-card-title
                  >

                  <div class="px-4 d-flex justify-center">
                    <v-chip-group v-model="selection" class="text-center">
                      <v-chip
                        size="small"
                        v-for="(hour, i) in item.opening_hours.split(',')"
                        :key="i"
                      >
                        {{ hour }}
                      </v-chip>
                    </v-chip-group>
                  </div>
                  <v-divider></v-divider>
                  <div class="px-4 d-flex justify-center">
                    <v-btn
                      prepend-icon="mdi-whatsapp"
                      size="small"
                      class="ma-2"
                      variant="flat"
                      target="_blank"
                      :href="item.url_whats"
                    >
                      <template v-slot:prepend>
                        <v-icon color="green"></v-icon>
                      </template>
                      Fale Conosco
                    </v-btn>
                    <v-btn
                      prepend-icon="mdi-map-marker"
                      size="small"
                      class="ma-2"
                      variant="flat"
                      target="_blank"
                      :href="item.url_maps"
                    >
                      <template v-slot:prepend>
                        <v-icon color="cyan"></v-icon>
                      </template>

                      Mapa
                    </v-btn>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>

  <script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";
import DrawerVue from '../Components/Drawer.vue';
import FooterVue from "../Components/Footer.vue";


export default {
  props: {
    title: String,
    files: Array,
  },
  components: {
    AppBarVue,
    BreadCrumbVue,
    FooterVue,
    DrawerVue
  },
  data: () => ({
    drawer:false,
    currentItem: "tab-Web",
    items: ["Web", "Shopping", "Videos", "Images"],
    more: ["News", "Maps", "Books", "Flights", "Apps"],
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  }),

  methods: {
    addItem(item) {},
  },
};
</script>