<template>
  <v-app>
    <!-- Cabeçalho -->
    <app-bar-vue></app-bar-vue>

    <!-- Conteúdo Principal -->
    <v-main>
      <v-container>
        <v-card flat rounded="0" class="contact-card">
          <v-card-title class="text-md-h3 text-uppercase text-center font-weight-bold mb-8">
            <strong>FALE CONOSCO</strong>
          </v-card-title>

          <p class="text-center">
            Este é o seu canal de comunicação com a Lider. <br>Escolha a melhor maneira de enviar sua mensagem.
          </p>

          <v-card-text class="mt-6">
            <v-row>
              <!-- Cards de Contato -->
              <v-col cols="12" md="4" lg="4" v-for="(item, index) in address" :key="index">
                <v-card class="contact-card-item" outlined>
                  <v-card-title class="contact-card-title">
                    {{ item.title }}
                  </v-card-title>
                  <v-card-text>
                    <p>{{ item.address }}</p>
                    <v-list>
                      <v-list-item v-for="(info, infoIndex) in item.infos" :key="infoIndex">
                        <v-list-item-content>
                          <v-list-item-title>
                            <a :href="info.link" target="_blank" class="contact-link">
                              <v-btn :color="info.color" text elevation="0" :class="{'email-btn': info.icon === 'mdi-email'}" class="contact-btn">
                                <v-icon left>{{ info.icon }}</v-icon>
                                <span class="contact-btn-text">{{ info.text }}</span>
                              </v-btn>
                            </a>
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-card-text>
                </v-card>
              </v-col>

              <!-- Imagem ao lado dos cards (opcional) -->
              <!-- <v-col cols="12" md="4" lg="4">
                <img width="300" src="/img/img_fale_conosco1.png" alt="Imagem de contato">
              </v-col> -->
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <!-- Rodapé -->
    <footer-vue></footer-vue>
  </v-app>
</template>

<style scoped>
.contact-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.contact-card-item {
  margin-bottom: 16px;
  border: 1px solid #ddd;
  position: relative;
}

.contact-card-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: red;
  border-radius: 8px 8px 0 0;
}

.contact-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}

.v-btn {
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: visible; 
}

.contact-btn {
  justify-content: flex-start;
  text-align: left;
  padding: 8px 12px; /* Aumenta o espaço do botão */
}

.email-btn {
  font-size: 0.68rem; 
}

.contact-btn-text {
  display: inline-block;
  white-space: normal; 
  overflow: visible; 
  text-overflow: clip; 
}

.text-center {
  text-align: center;
}

.contact-link {
  text-decoration: none; 
}
</style>

<script>
import AppBarVue from "../Components/AppBar.vue";
import FooterVue from "../Components/Footer.vue";

export default {
  components: {
    AppBarVue,
    FooterVue,
  },
  data: () => ({
    address: [
      {
        title: 'Curitiba - PR',
        address: 'R. DELEGADO LEOPOLDO BELCZAK, 286 - CRISTO REI, CURITIBA - PR',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: 'https://maps.app.goo.gl/DvDcAupHakEP9wwx7' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.curitiba@liderdrywall.com', link: 'mailto:loja.curitiba@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(41) 3094-8418', link: 'https://api.whatsapp.com/send?phone=554130948418' }
        ]
      },
      {
        title: 'Ponta Grossa - PR',
        address: 'R PRIMEIRO DE MAIO, 52 - NOVA RUSSIA - PONTA GROSSA - PR',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: 'https://api.whatsapp.com/send?phone=554221021492' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.pg@liderdrywall.com', link: 'mailto:loja.pg@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(42) 2102-1492', link: 'https://api.whatsapp.com/send?phone=554221021492' }
        ]
      },
      {
        title: 'Cascavel - PR',
        address: 'RUA OLINDO PERIOLO, 319 - PACAEMBU - CASCAVEL',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: 'https://goo.gl/maps/b33Jr9jp3BKtqVMh9' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.cascavel@liderdrywall.com', link: 'mailto:loja.cascavel@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(45) 3197-2658', link: 'https://api.whatsapp.com/send?phone=554531972658' }
        ]
      },
      {
        title: 'Campo Grande - MS',
        address: 'R. CANOAS DO SUL, 161 - VILA TAQUARUSSU, CAMPO GRANDE - MS',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: '' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.campogrande@liderdrywall.com', link: 'mailto:loja.campogrande@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(67) 4042-9010', link: 'https://api.whatsapp.com/send?phone=556740429010' }
        ]
      },
      {
        title: 'Joinville - SC',
        address: 'R. BENTO TOQUATO DA ROCHA, 298 - VILA NOVA, JOINVILLE',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: '' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.joinville@liderdrywall.com', link: 'mailto:loja.joinville@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(47) 3307-9993', link: 'https://api.whatsapp.com/send?phone=554733079993' }
        ]
      },
      {
        title: 'Itajaí - SC',
        address: 'AV GOV ADOLFO KONDER, 2720 - CIDADE NOVA, ITAJAÍ - SC',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: 'https://goo.gl/maps/vamYS1Hz4vEJvPZD8' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.itajai@liderdrywall.com', link: 'mailto:loja.itajai@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(47) 3170-1198', link: 'https://api.whatsapp.com/send?phone=554731701198' }
        ]
      },
      {
        title: 'Porto Alegre - RS',
        address: 'AV. BERNADINO SILVEIRA AMORIM, 971 - BAIRRO SARANDI - RS',
        infos: [
          { color: '#d1e7dd', icon: 'mdi-map-marker-radius', text: 'Ver Mapa', link: 'https://goo.gl/maps/7KVgw4jut4rGEZFj8' },
          { color: '#ffebcc', icon: 'mdi-email', text: 'loja.poa@liderdrywall.com', link: 'mailto:loja.poa@liderdrywall.com' },
          { color: '#d1e7dd', icon: 'mdi-whatsapp', text: '(51) 2160-9095', link: 'https://api.whatsapp.com/send?phone=555121609095' }
        ]
      }
    ]
  }),
};
</script>
