<template>
  <v-layout>
    <app-bar-vue></app-bar-vue>

    <v-main>
      <v-carousel class="h-auto">
        <v-carousel-item src="/img/banner_solar.jpg" max-height="570" cover></v-carousel-item>
        <v-carousel-item src="/img/lider_banner06.jpg" max-height="570" cover></v-carousel-item>
        <v-carousel-item src="/img/lider_banner07.jpg" max-height="570" cover></v-carousel-item>
        <v-carousel-item src="/img/lider_banner04.jpg" max-height="570" cover></v-carousel-item>
        <v-carousel-item src="/img/lider_banner03.jpg" max-height="570" cover></v-carousel-item>
        <v-carousel-item src="/img/lider_banner01.jpg" max-height="570" cover></v-carousel-item>
      </v-carousel>
      <v-card color="#be2037" theme="dark" flat rounded="0" class="pt-6">
        <v-card-subtitle class="text-center text-uppercase text-h6 text-white">Conheça nossa linha completa de
          Soluções</v-card-subtitle>
        <v-divider class="my-4"></v-divider>
        <v-card-text>



          <v-container class="py-2">
            <v-row>
              <v-col cols="12" md="4" sm="6" v-for="(item, i) in itemsSolutions" :key="i">
                <v-list-item link>
                  <template v-slot:prepend>
                    <v-icon size="x-large">{{ item.image }}</v-icon>
                  </template>
                  <v-list-item-title class="text-uppercase font-weight-regular text-caption"
                    v-text="item.category"></v-list-item-title>
                  <div v-text="item.title"></div>
                </v-list-item>
              </v-col>

            </v-row>
          </v-container>
          <v-divider class="my-4">

          </v-divider>
          <v-container>
            <div style="font-size:1.3em">

              <h1 class="mb-4 text-uppercase">QUEM SOMOS</h1>
              A Líder destaca-se como a melhor distribuidora atacadista de materiais para construção a seco no país, com
              uma
              sólida trajetória de mais de 35 anos na construção civil. Reconhecidos pelo nosso atendimento excepcional
              e soluções
              inovadoras, temos lojas estrategicamente localizadas em Porto Alegre, Joinville, Curitiba, Cascavel,
              Itajaí, Ponta
              Grossa e Campo Grande.
              <br /><br />Seja qual for a complexidade do seu projeto, a Líder oferece, orientação especializada e os
              melhores
              produtos do mercado. Convidamos você a visitar nossas lojas e descobrir como a Líder pode fazer a
              diferença no
              sucesso do seu empreendimento, combinando tradição, inovação e excelência no atendimento
            </div>
          </v-container>
        </v-card-text>
      </v-card>
      <v-container class="px-0">
        <v-card flat>
          <v-card-text>

            <v-row class="mb-6">
              <v-col cols="12" class="d-flex justify-center">
                <h2 class="text-h5 font-weight-bold text-center text-white bg-green py-3 px-4 rounded-lg shadow-2">
                  MAIS VENDIDOS
                </h2>
              </v-col>
            </v-row>
            <v-row class="mb-10">
              <v-col cols="12" sm="12" md="3">
                <v-card class="mx-auto" flat>
                  <v-img src="/img/mais_vendidos_001.jpg" height="250"></v-img>


                  <v-card-actions class="d-flex justify-center">
                    <v-spacer></v-spacer>
                    <v-btn class="d-flex justify-center" block color="red" href="/produto/grupo/perfis"
                      variant="outlined">
                      CONFERIR
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
              <v-col>
                <v-card class="mx-auto" flat>
                  <v-img src="/img/mais_vendidos_002.jpg" height="250"></v-img>


                  <v-card-actions class="d-flex justify-center">
                    <v-spacer></v-spacer>
                    <v-btn class="d-flex justify-center" block color="red" href="/produto/grupo/placas"
                      variant="outlined">
                      CONFERIR
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
              <v-col>
                <v-card class="mx-auto" flat>
                  <v-img src="/img/mais_vendidos_003.jpg" height="250"></v-img>


                  <v-card-actions class="d-flex justify-center">
                    <v-spacer></v-spacer>
                    <v-btn class="d-flex justify-center" block color="red" href="/produto/grupo/massas"
                      variant="outlined">
                      CONFERIR
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
              <v-col>
                <v-card class="mx-auto" flat>
                  <v-img src="/img/mais_vendidos_004.jpg" height="250"></v-img>


                  <v-card-actions class="d-flex justify-center">
                    <v-spacer></v-spacer>
                    <v-btn class="d-flex justify-center" block color="red" href="/produto/grupo/perfis"
                      variant="outlined">
                      CONFERIR
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
            <!-- Sustentômetro -->
            <v-row justify="center">
              <v-col cols="12" md="12"> <!-- Aumentei a largura para 12 colunas em dispositivos médios -->
                <v-card elevation="2" color="#E8F5E9" class="rounded-lg card-with-detail mb-6">
                  <v-card-text>
                    <v-row class="align-center">
                      <v-col cols="12" md="6" class="pa-6">
                        <h2 class="text-h4 font-weight-black text-green-darken-2 mb-4">
                          Somos Comprometidos em suprir as necessidades de nossos clientes sem afetar as gerações
                          futuras.
                        </h2>
                        <p class="text-blue-grey-darken-1 text-justify mt-4 text-lg">
                          <v-icon size="24" color="green">mdi-check</v-icon>
                          Por isso, adotamos as práticas mais rigorosas quando o assunto é cuidar do nosso planeta.
                        </p>
                      </v-col>
                      <v-col cols="12" md="6" class="pa-6">
                        <v-row class="align-center">
                          <v-col>
                            <h2 class="text-h3 font-weight-black text-green-darken-2 mb-4">Sustentabilidade</h2>
                            <p class="text-blue-grey-darken-1 text-justify text-lg">
                              Fazemos isso fortalecendo nosso processo produtivo para ser o mais responsável possível,
                              adotando práticas sustentáveis, além de auditarmos fornecedores e parcerias de negócios, a
                              fim de garantir um processo 100% ecológico e, reforçando mais uma vez, o compromisso da
                              Líder
                              com o desenvolvimento do nosso planeta.
                            </p>
                          </v-col>
                        </v-row>
                        <v-row class="align-center">
                          <v-col cols="12" md="12" class="pa-6">
                            <v-img height="200" src="/img/sust2.png" contain class="rounded-lg shadow-2"></v-img>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>

            <!-- Dicas e Novidades -->
            <v-row class="mb-4 justify-center">
              <v-col cols="8" class="d-flex justify-center">
                <h2 class="text-h5 font-weight-bold text-center text-white bg-green py-3 px-4 rounded-lg shadow-2">
                  DICAS E NOVIDADES
                </h2>
              </v-col>
            </v-row>

            <!-- Cards -->
            <v-row class="d-flex justify-center">
              <v-col v-for="itemBlog in blog" :key="itemBlog.id" cols="12" sm="6" md="4" lg="4">
                <v-card class="mx-auto rounded-lg shadow-2" max-width="350">
                  <v-img :src="'/img/blog/' + itemBlog.image" height="300px" cover class="rounded-t-lg"></v-img>
                  <v-card-title class="text-h6 font-weight-bold">{{ itemBlog.title }}</v-card-title>
                  <v-card-subtitle class="text-subtitle-2 text-gray-600">{{ itemBlog.subtitle }}</v-card-subtitle>
                  <v-card-actions class="d-flex justify-between align-center">
                    <v-btn color="red" href="/blog" variant="outlined">
                      Ver Mais
                    </v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>


          </v-card-text>
        </v-card>
      </v-container>


      <h4 class="mt-10 text-center">
        CONHEÇA NOSSOS PARCEIROS</h4>

      <v-carousel hide-delimiters class="mt-10" height="100">
        <v-carousel-item class="px-16">
          <v-row>
                        <v-col>
              <v-img src="/img/logo-gypsum.png"></v-img>
            </v-col>
            <v-col>
              <v-img src="/img/logo-ancora.png"></v-img>
            </v-col>
            <v-col>
              <v-img src="/img/logo-gesla.png"></v-img>
            </v-col>
            <v-col>
              <v-img src="/img/logo-walsywa.png"></v-img>
            </v-col>
            <v-col>
              <v-img src="/img/logo-ciser.png"></v-img>
            </v-col>
            <v-col>
              <v-img src="/img/logo-eternit.png"></v-img>
            </v-col>
            <v-col>
              <v-img src="/img/logo-decorlit.png"></v-img>
            </v-col>
          </v-row>
        </v-carousel-item>

      </v-carousel>


      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>

<script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";
import FooterVue from "../Components/Footer.vue";
FooterVue;

export default {
  props: {
    groupProduct: Array,
    blog: Array
  },
  components: {
    AppBarVue,
    BreadCrumbVue,
    FooterVue,
  },
  data: () => ({
    currentItem: "tab-Web",
    more: ["News", "Maps", "Books", "Flights", "Apps"],
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    itemsSolutions: [
      {
        image: "mdi-truck-fast",
        title: "Entrega em todo território nacional com rapidez e preço justo.",
        category: "transporte",
        keyword: "Transporte",
      },
      {
        image: "mdi-account-credit-card-outline",
        title: "Pagamento com cartão de crédito, pix, boletos.",
        category: "Pagamentos",
        keyword: "Phones",
      },
      {
        image: "mdi-office-building-marker",
        title:
          "Solução completa para Steel Frame, Drywall com perfis Engenheirados e Painelizados",
        category: "construção",
        keyword: "Social",
      },
    ],
  }),

  methods: {
    addItem(item) { },
  },
};
</script>

<style scoped>
.text-lg {
  font-size: 1.125rem;
}

.card-with-detail::before,
.card-with-detail::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: #4caf50;
  z-index: 1;
}

.card-with-detail::before {
  top: 0;
  left: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-with-detail::after {
  bottom: 0;
  left: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text-uppercase {
  text-transform: uppercase;
}
</style>
