<template>
  <div>
    <h1>{{ product.title}} -  {{ product.code }}</h1>
    <div>
      <img src="/caminho-para-imagem1.jpg" alt="Imagem 1">
      <img src="/caminho-para-imagem2.jpg" alt="Imagem 2">
      <!-- Adicione mais imagens conforme necessário -->
    </div>
    <p>Descrição do Produto: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Preço: $XX.XX</p>
    <!-- Adicione mais informações conforme necessário -->
  </div>
  <div>
    <h1>Nome do Produto</h1>
    <div>
      <img src="/caminho-para-imagem1.jpg" alt="Imagem 1">
      <img src="/caminho-para-imagem2.jpg" alt="Imagem 2">
      <!-- Adicione mais imagens conforme necessário -->
    </div>
    <p>Descrição do Produto: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p>Preço: $XX.XX</p>
    <!-- Adicione mais informações conforme necessário -->
  </div>
</template>

<script>



export default {
  props: {

    product:Object,
    blog: Array
  },
  components: {


  },
  data: () => ({
    errors: {},
    loadButton: false,
    form: {
      name: null,
      cpf: null,
      cnpj: null,
      document: null,
      phone_number: null,
      store: null
    },
    message: null,
    items: [
      { value: '0102', text: 'Porto Alegre - RS' },
      { value: '0103', text: 'Joinville - SC' },
      { value: '0105', text: 'Itajaí - SC' },
      { value: '0104', text: 'Cascavel - PR' },
      { value: '0108', text: 'Curitiba - PR' },
      { value: '0107', text: 'Ponta Grossa - PR' },
      { value: '0106', text: 'Campo Grande - MS' },
    ],

  }),
  methods: {
    submitInfos() {
      var $this = this;
      this.loadButton = true;
      this.errors = {};
      this.message = null;
      this.$inertia.post('/show-lider', this.form, {
        preserveState: true,
        onFinish: function () {
          $this.loadButton = false;
        },
        onError: function (data) {
          $this.errors = data
        },
        onSuccess: function () {
          $this.message = 'DOCUMENTO CADASTRADO COM SUCESSO'
          $this.form = {
            name: null,
            cpf: null,
            cnpj: null,
            document: null,
            phone_number: null,
            store: null
          }
        }
      });

    }
  }

};
</script>

<style scoped>
/* Adicione estilos CSS conforme necessário */
</style>
