<template>
  <v-layout>
    <app-bar-vue></app-bar-vue>

    <v-main>
      <v-container>
        <v-card>
          <bread-crumb-vue></bread-crumb-vue>
                  <v-card-text>
            <div class="product-detail">
              <div class="main-image">
                <v-carousel>
                  <v-carousel-item  :src="'/img/product_description/'+ product.group+'/'+product.image"
                  ></v-carousel-item>
                  <v-carousel-item  :src="'/img/product_description/'+product.group+'/'+product.image2"
                  ></v-carousel-item>
                  <v-carousel-item  :src="'/img/product_description/'+product.group+'/'+product.image3"
                  ></v-carousel-item>
                </v-carousel>
              </div>

              <div class="description">
                <h2 class="blue-dark">Nome do Produto</h2>
                <p>{{ product.desc }}</p>
              </div>
              <div class="list">
                <h2 class="blue-dark">Especificações</h2>
                <ul>
                  <li v-for="(spec, index) in product.list" :key="index">
                    {{ spec }}

                  </li>
                </ul>
              </div>
              <div class="technical-sheet">
                <h2 class="blue-dark">Descrição</h2>
                <ul>
                  <li
                    v-for="(item, index) in product.specification"
                    :key="index"
                                    >
                    {{ item }}
                  </li>
                </ul>
              </div>
          
            </div>
          </v-card-text>
        </v-card>
      </v-container>

      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>

<script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";

export default {
  props: {
    product: Object,
  },
  name: "ProductDetail",
  components: {
    AppBarVue,
    BreadCrumbVue,
  },
  data() {
    return {
      images: [],
    };
  },
  created() {},
  mounted() {},
  methods: {},
};
</script>

<style scoped>
.product-detail {
  max-width: 600px;
  margin: auto;
}

.main-image img {
  width: 100%;
  height: auto;
}

.h-auto {
  height: auto;
}

.description,
.specifications,
.technical-sheet {
  margin: 20px 0;
}

h2 {
  margin-bottom: 10px;
  color: #003366; /* Azul escuro */
}

.product-detail .list ul,
.product-detail .technical-sheet ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-detail .list li,
.product-detail .technical-sheet li {
  display: inline; 
  white-space: nowrap; 
}

.blue-dark {
  color: #003366; 
}
</style>
