<template>subtitle
  <v-layout>
    <app-bar-vue></app-bar-vue>

    <v-main>
      <v-container>
        <v-card>
          <bread-crumb-vue></bread-crumb-vue>
          <v-card-subtitle
            >Conheça nossa linha completa de Produtos</v-card-subtitle
          >

          <v-card-text>
            <v-carousel height="100" hide-delimiters>
              <v-carousel-item>
                <v-row>
                  <v-col class="text-center">
                    <v-avatar size="x-large" style="width: 70px; height: 70px">
                      <v-img
                        cover
                        src="https://www.placo.com.br/sites/gypsum.eeap.placo.br/files/styles/645x360_scale_crop/public/blog/drywall-vantagens-e-desvantagens.jpg?itok=LD9zUIYp"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                    <br />
                    Drywall
                  </v-col>
                  <v-col class="text-center">
                    <v-avatar size="x-large">
                      <v-img
                        src="https://www.placo.com.br/sites/gypsum.eeap.placo.br/files/styles/645x360_scale_crop/public/blog/drywall-vantagens-e-desvantagens.jpg?itok=LD9zUIYp"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                    <br />
                    Drywall
                  </v-col>
                  <v-col class="text-center">
                    <v-avatar size="x-large">
                      <v-img
                        src="https://www.placo.com.br/sites/gypsum.eeap.placo.br/files/styles/645x360_scale_crop/public/blog/drywall-vantagens-e-desvantagens.jpg?itok=LD9zUIYp"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                    <br />
                    Drywall
                  </v-col>
                  <v-col class="text-center">
                    <v-avatar size="x-large">
                      <v-img
                        src="https://www.placo.com.br/sites/gypsum.eeap.placo.br/files/styles/645x360_scale_crop/public/blog/drywall-vantagens-e-desvantagens.jpg?itok=LD9zUIYp"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                    <br />
                    Drywall
                  </v-col>
                  <v-col class="text-center">
                    <v-avatar size="x-large">
                      <v-img
                        src="https://www.placo.com.br/sites/gypsum.eeap.placo.br/files/styles/645x360_scale_crop/public/blog/drywall-vantagens-e-desvantagens.jpg?itok=LD9zUIYp"
                        alt="John"
                      ></v-img>
                    </v-avatar>
                    <br />
                    Drywall
                  </v-col>
                </v-row>
              </v-carousel-item>
            </v-carousel>
          </v-card-text>
        </v-card>
      </v-container>

      <v-container>
        <v-row>
          <v-col>
            <v-img height="300" pos cover src="/img/img001.jpg"></v-img>
          </v-col>

          <v-col>
            <v-img
              height="300"
              cover
              src="https://www.placo.com.br/sites/gypsum.eeap.placo.br/files/blog/drywall-vantagens-e-desvantagens.jpg"
            ></v-img>
          </v-col>
        </v-row>
      </v-container>
      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>

  <script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";

export default {
  components: {
    AppBarVue,
    BreadCrumbVue,
  },
  data: () => ({
    currentItem: "tab-Web",
    items: ["Web", "Shopping", "Videos", "Images"],
    more: ["News", "Maps", "Books", "Flights", "Apps"],
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  }),

  methods: {
    addItem(item) {},
  },
};
</script>