<template>
  <v-layout>
    <app-bar-vue></app-bar-vue>
    <v-main>
      <bread-crumb-vue v-if="banner==null"></bread-crumb-vue>
      <v-img :src="banner"></v-img>
      <v-container fluid> 
        <v-card flat rounded="0">
          <v-card-title
            class="text-md-h3 text-uppercase text-center font-weight-light mb-8"
          >
            <span class="text-uppercase" v-if="banner==null">{{ title }}</span>
          </v-card-title>
          <v-card-subtitle class="text-wrap text-center">
            {{ aboutProduct }}
          </v-card-subtitle>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="3">
                <v-card class="mt-4" outline>
                  <v-card-title class="">Categorias</v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-list :lines="false" density="compact" nav>
                      <v-list-item
                        rounded="md"
                        prominent
                        :href="item.route"
                        v-for="(item, index) in $page.props.groupProduct"
                        :key="index"
                      >
                        <v-list-item-title class="text-uppercase text-wrap">{{
                          item.desc
                        }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="9">
                <v-row v-if="items.length > 0">
                  <template v-for="(item, index) in items" :key="index">
                    <v-col cols="12" lg="4" md="4" sm="6" xl="6">
                      <v-card
                        variant="outlined"
                        :loading="loading"
                        class="mx-auto my-5"
                      >
                        <v-img
                          height="150"
                          class="mx-auto"
                          max-width="150"
                          :src="
                            item.image == null
                              ? '/img/sem_produto.jpg'
                              : '/img/product/' + item.group + '/' + item.image
                          "
                        ></v-img>

                        <v-card-item>
                          <v-card-title
                            class="text-subtitle-2 text-uppercase"
                            >{{ item.desc }}</v-card-title
                          >

                          <v-card-subtitle>
                            <span class="me-1 text-uppercase text-caption">{{
                              item.group
                            }}</span>
                          </v-card-subtitle>
                        </v-card-item>

                        <v-card-text>
                          <v-list
                            v-if="item.list != null"
                            bg-color="grey-lighten-3"
                            class="rounded-lg"
                            density="compact"
                            nav
                          >
                            <v-list-item
                              min-height="15"
                              height="20"
                              density="compact"
                              class="ma-0 pa-0"
                              v-for="(itemLista, i) in item.list.split(';')"
                              :key="i"
                            >
                              <v-list-item-title
                                class="text-uppercase text-caption ma-0 pa-0"
                                v-text="itemLista"
                              ></v-list-item-title>
                            </v-list-item>
                          </v-list>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn outlined block color="red" :href="'/produto/show/'+item.id">Ver mais</v-btn>
                        </v-card-actions>

                        <!--
                          <v-divider class="mx-4 mb-1"></v-divider>
                          <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="deep-primary-lighten-2"
                            variant="text"
                            @click="reserve"
                          >
                            ver mais
                          </v-btn>
                        </v-card-actions>-->
                      </v-card>
                    </v-col>
                  </template>
                </v-row>
                <v-alert v-else> Nenhum Produto para essa seção </v-alert>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>

      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>

  <script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";
import FooterVue from "../Components/Footer.vue";

export default {
  props: {
    items: Array,
    title: String,
    banner: String,
    files: Array,
    aboutProduct: String,
  },
  components: {
    AppBarVue,
    BreadCrumbVue,
    FooterVue,
  },
  data: () => ({
    fab: true,
    currentItem: "tab-Web",
    items: ["Web", "Shopping", "Videos", "Images"],
    more: ["News", "Maps", "Books", "Flights", "Apps"],
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  }),

  methods: {
    addItem(item) {},
  },
};
</script>