<template>
  <v-layout>
    <app-bar-vue></app-bar-vue>
    <v-main>

      <v-container>
        <v-card flat rounded="0" style="background: none;">
          <v-card-title class="text-md-h5 text-uppercase text-center font-weight-light">
            Resultado para <br>
            <i>"{{ term }}"</i>
          </v-card-title>
          <v-alert class="text-center" v-if="items.length == 0">Nenhum produto encontrado</v-alert>
          <v-card-text v-else>
            <v-list :items="items" item-props lines="three">
              <template v-slot:subtitle="{ subtitle }">
                <div v-html="subtitle"></div>
              </template>
            </v-list>
          </v-card-text>
        </v-card>
      </v-container>
      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>
  
<script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";
import FooterVue from "../Components/Footer.vue";

export default {
  props: {
    title: String,
    files: Array,
    term: String,
    items: Array
  },
  components: {
    AppBarVue,
    BreadCrumbVue,
    FooterVue,
  },
  data: () => ({
  }),

  methods: {

  },
};
</script>