<template>
  <v-layout>


    <v-main>
      <v-container>
        <v-card variant="flat">
          <v-card-title class="text-center">
            <img class="mx-auto " src="/img/showLider/logo.png">
          </v-card-title>
          <v-card-text class="mt-8 text-center">

            <div style="max-width: 700px;" class="mx-auto">
              <v-alert variant="outlined" class="mb-10" prominent border="top">
                <v-row>
                  <v-col cols="12" md="8">
                    O sorteio especial de Natal tem como objetivo premiar os clientes que realizarem compras durante o
                    período promocional de 01/12/2023 a 28/12/2023, oferecendo a chance de ganhar prêmios exclusivos.
                  </v-col>
                  <v-col>
                    <v-btn class="mt-4" color="red" target="_blank"
                      href="public/regulamento.pdf">
                      REGULAMENTO
                    </v-btn>
                  </v-col>
                </v-row>


              </v-alert>
              <v-text-field :error-messages="errors.name" v-model="form.name" variant="outlined"
                label="Nome Completo"></v-text-field>
              <v-text-field :error-messages="errors.phone_number" v-model="form.phone_number" variant="outlined"
                label="Telefone" v-mask="['(##) ####-####', '(##) #####-####']" />
              <v-row no-gutters>
                <v-col>
                  <v-text-field :error-messages="errors.cpf" v-model="form.cpf" class="mr-4" variant="outlined"
                    label="CPF" v-mask="['###.###.###-##']" />
                </v-col>
                <v-col>
                  <v-text-field :error-messages="errors.cnpj" v-model="form.cnpj" class="ml-4" variant="outlined"
                    label="CNPJ" v-mask="['##.###.###/####-##']" />
                </v-col>
              </v-row>

              <v-text-field :error-messages="errors.document" v-model="form.document" variant="outlined"
                label="Nota Fiscal" v-mask="'#########'"></v-text-field>
              <v-select :error-messages="errors.store" variant="outlined" v-model="form.store" :items="items"
                label="Loja Líder" item-title="text" item-value="value"></v-select>

              <v-alert v-if="errors.message" :text="errors.message" type="error" class="my-4"></v-alert>
              <v-alert v-if="message != null" text="DOCUMENTO CADASTRADO COM SUCESSO" type="success"
                class="my-4"></v-alert>

              <v-btn class="me-4" variant="outlined" @click="submitInfos" :loading="loadButton">
                Cadastrar
              </v-btn>
            </div>
          </v-card-text>
        </v-card>

      </v-container>
      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>



<script>

import BreadCrumbVue from "../Components/BreadCrumb.vue";
import FooterVue from "../Components/Footer.vue";

export default {
  props: {

    groupProduct: Array,
    blog: Array
  },
  components: {

    BreadCrumbVue,
    FooterVue,
  },
  data: () => ({
    errors: {},
    loadButton: false,
    form: {
      name: null,
      cpf: null,
      cnpj: null,
      document: null,
      phone_number: null,
      store: null
    },
    message: null,
    items: [
      { value: '0102', text: 'Porto Alegre - RS' },
      { value: '0103', text: 'Joinville - SC' },
      { value: '0105', text: 'Itajaí - SC' },
      { value: '0104', text: 'Cascavel - PR' },
      { value: '0108', text: 'Curitiba - PR' },
      { value: '0107', text: 'Ponta Grossa - PR' },
      { value: '0106', text: 'Campo Grande - MS' },
    ],

  }),
  methods: {
    submitInfos() {
      var $this = this;
      this.loadButton = true;
      this.errors = {};
      this.message = null;
      this.$inertia.post('/show-lider', this.form, {
        preserveState: true,
        onFinish: function () {
          $this.loadButton = false;
        },
        onError: function (data) {
          $this.errors = data
        },
        onSuccess: function () {
          $this.message = 'DOCUMENTO CADASTRADO COM SUCESSO'
          $this.form = {
            name: null,
            cpf: null,
            cnpj: null,
            document: null,
            phone_number: null,
            store: null
          }
        }
      });

    }
  }

};
</script>