<template>
  <v-layout>
    <app-bar-vue></app-bar-vue>

    <v-main>
      <v-img height="100" cover src="img/img003.png"></v-img>

      <v-container>
        <v-card flat rounded="0">
          <v-card-title
            class="text-md-h3 text-uppercase text-center font-weight-light mb-8"
          >
            NOSSAS LOJAS
          </v-card-title>

          <p class="text-center">
            Estamos preparados para atender você e sua empresa com os melhores
            profissionais. Entre em contato conosco e conheça nossos produtos.
          </p>

          <v-card-text>
            <v-row no-gutters>
              <v-col
                cols="12"
                md="4"
                v-for="(item, i) in $page.props.stores"
                :key="i"
              >
                <v-card :loading="loading" class="mx-5 my-4" elevation="3">
                  <v-img
                    cover
                    height="200"
                    :src="
                      item.image == null
                        ? '/img/sem_produto.jpg'
                        : '/img/stores/' + item.image
                    "
                  ></v-img>

                  <v-card-item>
                    <v-card-title>{{ item.title }}</v-card-title>
                    <v-card-subtitle>
                      <span class="me-1">{{ item.alias }}</span>
                    </v-card-subtitle>
                  </v-card-item>

                  <v-card-text class="">
                    {{ item.address }}
                  </v-card-text>
                  <v-divider></v-divider>

                  <v-card-title class="text-overline text-center"
                    >Horário de Atendimento</v-card-title
                  >

                  <div class="px-4 d-flex justify-center">
                    <v-chip-group v-model="selection" class="text-center">
                      <v-chip
                        size="small"
                        v-for="(hour, i) in item.opening_hours.split(',')"
                        :key="i"
                      >
                        {{ hour }}
                      </v-chip>
                    </v-chip-group>
                  </div>
                  <v-divider></v-divider>
                  <div class="px-4 d-flex justify-center">
                    <a :href="item.url_whats" target="_blank">
                      <v-btn
                        prepend-icon="mdi-whatsapp"
                        size="small"
                        class="ma-2"
                        variant="flat"
                      >
                        <template v-slot:prepend>
                          <v-icon color="green"></v-icon>
                        </template>
                        Fale Conosco
                      </v-btn>
                    </a>
                    <a :href="item.url_maps" target="_blank">
                      <v-btn
                        prepend-icon="mdi-map-marker"
                        size="small"
                        class="ma-2"
                        variant="flat"
                      >
                        <template v-slot:prepend>
                          <v-icon color="cyan"></v-icon>
                        </template>
                        Mapa
                      </v-btn>
                    </a>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
      <footer-vue></footer-vue>
    </v-main>
  </v-layout>
</template>
  
<script>
import AppBarVue from "../Components/AppBar.vue";
import BreadCrumbVue from "../Components/BreadCrumb.vue";
import FooterVue from "../Components/Footer.vue";

export default {
  props: {
    title: String,
    files: Array,
  },
  components: {
    AppBarVue,
    BreadCrumbVue,
    FooterVue,
  },
  data: () => ({
    currentItem: "tab-Web",
    items: ["Web", "Shopping", "Videos", "Images"],
    more: ["News", "Maps", "Books", "Flights", "Apps"],
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  }),

  methods: {
    getOpeningHours(aHours) {
      a;
    },
  },
};
</script>
