<template>
  <div>
    <v-navigation-drawer v-model="drawer" temporary>
      <div>
        <v-btn
          icon="mdi-instagram"
          target="_blank"
          href="https://www.instagram.com/liderconstrucaoaseco/"
          variant="text"
        ></v-btn>

        <v-btn
          icon="mdi-linkedin"
          target="_blank"
          href="https://www.linkedin.com/company/líder"
          variant="text"
        ></v-btn>
      </div>
      <v-divider></v-divider>
      <v-btn variant="outlined" href="/quem-somos" class="mt-4 ml-2" width="90%">QUEM SOMOS</v-btn>
      <v-btn variant="outlined" href="/contato" class="mt-1 ml-2" width="90%">FALE CONOSCO</v-btn>
      <v-btn variant="outlined" href="/nossas-lojas" class="mt-1 ml-2" width="90%">Nossas Lojas</v-btn>

      <div class="pa-4">
        <v-btn
          block
          v-for="(item, index) in $page.props.groupProduct"
          :key="index"
          elevation="0"
          rounded="xl"
          :href="item.route"
        >
          {{ item.desc }}
        </v-btn>
      </div>
    </v-navigation-drawer>

    <v-system-bar window>
      <v-btn
        icon="mdi-instagram"
        target="_blank"
        href="https://www.instagram.com/liderconstrucaoaseco/"
        variant="text"
      ></v-btn>
      <v-btn
        icon="mdi-linkedin"
        target="_blank"
        href="https://www.linkedin.com/company/líder/"
        variant="text"
      ></v-btn>
    </v-system-bar>

    <v-app-bar
      flat
      height="110"
      style="background-image: url('/img/linecolor.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 20%;
      "
    >
      <v-container class="fill-height d-flex align-center">
        <a href="/"><img height="70" src="/img/logo.png" /></a>
        <v-text-field
          v-model="search"
          @keydown.enter="searchData"
          :loading="loading"
          class="mx-16 d-none d-sm-inline-block"
          density="comfortable"
          hide-no-data
          hide-details
          variant="solo"
          label="O que está procurando?"
        ></v-text-field>

        <v-btn
          class="d-none d-sm-flex mr-2"
          variant="elevated"
          color="green-darken-2"
          @click="incrementWhatsAppClick"
          
         
        >
          <v-icon>mdi-whatsapp</v-icon>
          Compre aqui
        </v-btn>

        <v-menu open-on-hover>
          <template v-slot:activator="{ props }">
            <v-btn
              class="d-none d-sm-flex"
              variant="elevated"
              color="red-darken-4"
              width="140"
              href="/nossas-lojas"
            >
              <v-icon>mdi-store-marker</v-icon>
              Nossas Lojas
            </v-btn>
          </template>
          <v-spacer></v-spacer>

          <v-list max-width="350">
            <v-list-item
              lines="three"
              dense
              v-for="itemStore in $page.props.stores"
              :key="itemStore.id"
              class="py-2"
            >
              <v-list-item-title>{{ itemStore.name }}</v-list-item-title>
              <v-list-item-subtitle class="text-nowrap text-caption">
                {{ itemStore.address }}
              </v-list-item-subtitle>
              <v-list-item-title>
                <v-btn
                  prepend-icon="mdi-whatsapp"
                  text
                  color="success"
                  target="_blank"
                  :href="itemStore.url_whats"
                  >{{ itemStore.phone_number }}</v-btn
                >
              </v-list-item-title>
            </v-list-item>
            <v-divider class="mt-4"></v-divider>
            <v-btn block flat href="/nossas-lojas">Veja Mais</v-btn>
          </v-list>
        </v-menu>
      </v-container>

      <template v-slot:extension>
        <v-toolbar height="50" color="#f1f1f1" class="mb-6">
          <v-app-bar-nav-icon
            class="d-sm-none"
            v-on:click="drawer = true"
          ></v-app-bar-nav-icon>

          <v-toolbar-title class="d-flex justify-center">
            <v-menu open-on-hover open-on-click>
              <template v-slot:activator="{ props }">
                <v-btn
                  color="red"
                  class="d-none d-sm-inline-flex font-weight-bold"
                  v-bind="props"
                  ><v-icon size="x-large">mdi-menu</v-icon> Todos
                  Produtos</v-btn
                >
              </template>
              <v-card max-width="600" min-width="450">
                <v-card-text>
                  <v-row>
                    <v-col>
                      <v-list :lines="false" density="compact" nav>
                        <v-list-item
                          v-for="(item, index) in $page.props.groupProduct"
                          :key="index"
                          rounded="md"
                          :href="item.route"
                          @mouseover="showPhoto(item.image)"
                        >
                          <v-list-item-title class="text-uppercase">{{
                            item.desc
                          }}</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-col>
                    <v-col>
                      <v-img :src="productPhoto"></v-img>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-menu>
            <v-template
              v-for="(item, index) in $page.props.groupProduct"
              :key="index"
            >
              <v-btn
                v-if="item.appbar == 'S'"
                class="mt-0 d-none d-sm-inline-flex font-weight-black"
                :href="item.route"
              >
                {{ item.desc }}
              </v-btn>
            </v-template>
          </v-toolbar-title>
        </v-toolbar>
      </template>
    </v-app-bar>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    drawer: false,
    productPhoto: null,
    loading: false,
    search: null,
    items: [],
    searchItems: [],
    select: null,
    search: null,
  }),

  
  methods: {
    searchData() {
      var $this = this;
      this.loading = true;
      window.location.href = "/search?query=" + $this.search;
    },
    getTreabcrumb() {
      var $this = this;

      $this.items.push({ title: "Home", disabled: false, href: "/" });
      $this.items.push({ title: "Produtos", disabled: false, href: "#" });
      $this.items.push({
        title: this.$page.props.title,
        disabled: true,
        href: "/",
      });
      return this.items;
    },
    showPhoto($item) {
      this.productPhoto =
        $item == null ? "/img/sem_produto.jpg" : "/img/group/" + $item;
    },
    incrementWhatsAppClick() {
  
      axios
        .get("/click", {
          date: new Date(),
          click: 1 
        })
        .then((response) => {
          //alert('okk')
          console.log("Click gravado:", response.data);
          window.location.href= 'https://api.whatsapp.com/send?phone=554130036880&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site%2C%20gostaria%20de%20solicitar%20um%20or%C3%A7amento'
        })
        .catch((error) => {
          console.error("Error click:", error);
        })
        .finally((data) => {
         
          //
        });
    },
  },
  watch: {
    search: function () {
      if (this.search.length >= 3) {
        this.searchData();
      }
    },
  },
};
</script>
