<template>
  <v-breadcrumbs :items="items">
    <template v-slot:divider>
      <v-icon icon="mdi-chevron-right"></v-icon>
    </template>
  </v-breadcrumbs>
</template>
  <script>
export default {
  data: () => ({
    items: [
      {
        title: "Home",
        disabled: false,
        href: "/",
      },
      {
        title: "Produtos",
        disabled: false,
        href: "#",
      },
      {
        title: "...",
        disabled: true,
        href: "breadcrumbs_link_2",
      },
    ],
  }),
};
</script>