<template>
  <v-navigation-drawer v-model="drawer" temporary>
    <v-list-item>
      <v-btn
        icon="mdi-instagram"
        target="_blank"
        href="https://www.instagram.com/liderconstrucaoaseco/"
        variant="text"
      >
      </v-btn>
    </v-list-item>
    <v-list-item>
      <v-btn
        icon="mdi-linkedin"
        target="_blank"
        href="https://www.linkedin.com/company/líder"
        variant="text"
      >
      </v-btn>
    </v-list-item>
    <v-divider></v-divider>
    <v-list
      density="compact"
      nav
      v-for="(item, index) in $page.props.groupProduct"
      :key="index"
    >
      <v-btn
        v-if="item.appbar == 'S'"
        class="mt-0 d-none d-sm-inline-flex font-weight-regular"
        :href="item.route"
      >
        {{ item.desc }}
      </v-btn>
    </v-list>
  </v-navigation-drawer>
</template>
  <script>
export default {

  data: () => ({
    drawer: true,
  }),
};
</script>