<template>
  <v-dialog v-model="dialog" max-width="400">
    <v-card>
      <v-card-text>
        <v-list>
          <v-list-item
            lines="three"
            v-for="itemStore in $page.props.stores"
            :key="itemStore.id"
            class="py-2 text-center"
          >
            <v-list-item-title>{{ itemStore.name }}</v-list-item-title>
            <v-list-item-subtitle class="text-nowrap text-caption">
              {{ itemStore.address }}
            </v-list-item-subtitle>
            <v-list-item-title>
              <v-btn
                prepend-icon="mdi-whatsapp"
                class="text-center"
                density="compact"
                color="green"
                target="_blank"
                :href="itemStore.url_whats"
              >
                {{ itemStore.phone_number }}
              </v-btn>
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-btn color="green" block @click="dialog = false">Sair</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-footer absolute color="#149051" class="d-block">
    <v-row justify="center" class="mt-4" no-gutters>
      <v-btn
        v-for="link in links"
        :key="link"
        :href="link.link"
        color="light-green-lighten-2"
        variant="text"
        class="mx-2"
        rounded="xl"
      >
        {{ link.text }}
      </v-btn>
    </v-row>

    <v-divider class="my-4"></v-divider>
    <v-row justify="center">
      <v-col cols="12" md="2">
        <v-card color="transparent" flat class="mx-auto">
          <v-card-title class="text-center text-light-green-lighten-1">
            Institucional
          </v-card-title>
          <v-list bg-color="transparent" class="text-center text-white">
            <v-list-item
              v-for="item in itemsCol01"
              :key="item.title"
              :title="item.title"
              :href="item.link"
            ></v-list-item>
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="12" md="2">
        <v-card-title class="text-center text-light-green-lighten-1">
          Atendimento
        </v-card-title>
        <v-card color="transparent" flat class="mx-auto">
          <v-list bg-color="transparent" class="text-center text-white">
            <v-list-item
              v-for="item in itemsCol02"
              :key="item.title"
              :title="item.title"
              :href="item.link"
            ></v-list-item>
          </v-list>
        </v-card>
        <v-card color="transparent" flat class="mx-auto">
          <v-card-title class="text-center text-light-green-lighten-1">
            Encontre-nos
          </v-card-title>
          <div justify="center" class="text-center">
            <v-btn
              variant="text"
              target="_blank"
              href="https://www.instagram.com/liderconstrucaoaseco/"
            >
              <v-icon size="x-large">mdi-instagram</v-icon>
            </v-btn>
            <v-btn
              target="_blank"
              variant="text"
              href="https://www.linkedin.com/company/l%C3%ADder/"
            >
              <v-icon size="x-large">mdi-linkedin</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
      <v-col class="pr-8" cols="12" md="4">
        <span class="text-h4 text-uppercase text-white font-weight-black ">
          Fornecendo soluções para a construção do Brasil do Futuro.
        </span>
      </v-col>
    </v-row>
  </v-footer>

  <v-footer class="text-center">
    <v-btn
      icon
      color="green lighten-2"
      location="bottom right"
      position="fixed"
      class="ma-5"
      size="x-large"
      @click="incrementWhatsAppClick('https://api.whatsapp.com/send?phone=554130036880')"
    >
      <v-icon size="x-large" icon="mdi-whatsapp"></v-icon>
      <v-tooltip activator="parent" location="start">Fale Conosco</v-tooltip>
    </v-btn>
    <v-card flat class="mx-auto">
      <v-card-text>
        <v-row>
          <v-col></v-col>
        </v-row>
        {{ new Date().getFullYear() }} —
        <strong>LÍDER CONSTRUÇÃO A SECO</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      dialog: false,
      links: [
        { text: "Home", link: "/" },
        { text: "Quem Somos", link: "/quem-somos" },
      ],
      itemsCol01: [
        { title: "Quem Somos", link: "/quem-somos" },
        { title: "Nossas Lojas", link: "/nossas-lojas" },
        { title: "Nosso Catálogo", link: "/public/catalogo.pdf" },
      ],
      itemsCol02: [
        { title: "Fale Conosco", link: "/contato" },
      ],
    };
  },
  methods: {
    incrementWhatsAppClick(url) {
      axios
        .post("/click", {
          date: new Date(),
          click: 1,
        })
        .then((response) => {
          console.log("Click gravado:", response.data);
          window.open(url, "_blank");
        })
        .catch((error) => {
          console.error("Erro ao registrar o clique:", error);
        });
    },
  },
};
</script>
